NEXT_PUBLIC_SUPABASE_URL=https://sb_publishable_eHx_cU1CLakFqe4zoDx2xw_588kc2_V.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wdGFmeWN5bGVxeWNhbXFtZnRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4MzIxNTcsImV4cCI6MjEwNDQwODE1N30.4ormn-E7rB_MBe_61PsSCcfay5uP0MborNPgkAPd8uM
